.board {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-height: min(80vh, 80vw);
  max-width: min(80vh, 80vw);
  aspect-ratio: 1;
  background-color: #4a4a52;
}

.box-row {
  flex: 1 1 auto;
  display: flex;
}

.box {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1 1 auto;
  display: flex;
}

.cell {
  flex: 1 1 auto;
  width: 0;
  height: 100%;
  box-sizing: border-box;

  &.alive {
    background-color: #ace1ac;
  }
}

.row:nth-child(even) .dead:nth-of-type(even),
.row:nth-child(odd) .dead:nth-of-type(odd) {
  background-color: #47474f;
}
