.rules-dialog {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  padding: 20px;
  width: 80%;
}

.rules-title {
  padding: 0 1rem;
  text-align: start;
  margin: 0;
}

.rules-list {
  margin: 0 0 2rem;
}

.rules-list li {
  width: max-content;
}
